<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.mapper.PersonMapper" >

  <resultMap id="BaseResultMap" type="com.yt.model.Person">
	  <result property="id" column="ID" />
	  <result property="name" column="NAME" />
	  <result property="age" column="AGE" />
	  <result property="address" column="ADDRESS" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	 ID,
  	 age,
  	 name,
  	 address
  </sql>

  <!-- 根据条件查询符合条件的数据记录数 -->
  <select id="selectCountByParams" resultType="int">
	  select count(*) 
	  from Person
	  where 1=1
	  <if test="params.ID != null">
		and ID = #{params.ID}
	  </if>
	  <if test="params.type != age">
		and age = #{params.age}
	  </if>
	   <if test="params.name != null">
		and name = #{params.name}
	  </if>
	  <if test="params.address != null">
		and address = #{params.address}
	  </if>
  </select>

 <!-- 根据条件查询 平台参数，加油优惠油价管理 实现了分页，排序和过滤 -->
  <select id="selectListByParams" resultType="List" resultMap="BaseResultMap" resultSetType="SCROLL_INSENSITIVE">
  		select * from 
		(select a.*,rownum rn from (      
		 select 
		     ID,
		  	 age,
		  	 name,
		  	 address
		FROM Person where 1=1
	  <if test="params.ID != null">
		  and ID = #{params.ID}
	  </if>
	  <if test="params.type != age">
		  and age = #{params.age}
	  </if>
	  <if test="params.name != null">
		  and name = #{params.name}
	  </if>
	  <if test="params.address != null">
		  and address = #{params.address}
	  </if>
		  <choose>
			<when test="orderParam != null">
				order by ${orderParam} 
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		  </choose>
		  <![CDATA[	
				) a where rownum<= #{endIndex}) b where b.rn >= #{startIndex} 
		  ]]>
  </select> 
 
  <!-- 持久化数据到数据库 -->
  <insert id="insert" parameterType="com.yt.model.Person" >
    insert into T_POSP_WHITELIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
		  name,
      </if>
      <if test="age != null" >
		  age,
      </if>
      <if test="address != null" >
		  address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="age != null" >
        #{age},
      </if>
      <if test="address != null" >
        #{address},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键查询加油优惠邮件管理 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
	    select 
	    <include refid="Base_Column_List" />
	    from Person
	    where 1=1 AND ID = #{id}
  </select>
  
  <!-- 更新加油优惠邮件管理，根据ID -->
  <update id="updateByPrimaryKey" parameterType="com.yt.model.Person" >
	    update Person
	    <set>
	      <if test="name != null" >
			  name = #{name},
	      </if>
	      <if test="age != null" >
			  age = #{age},
	      </if>
	      <if test="address != null" >
	        address = #{address},
	      </if>
	    </set>
	    where 1=1 AND ID = #{id}
  </update>
  
  <!-- 根据主键删除 -->
  <delete id="deleteById" parameterType="string">
	    delete 
	    from Person
	    where 1=1 AND ID = #{id}
  </delete>
</mapper>